*{
    margin: 0;
    padding: 0;    
}

body{
    background: #F5F5F5;
    width: 100%;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

