

.home{
    padding: 5%;
    
}

.title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 35px;
    line-height: 100%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.text{
    margin-top: 20px;
    margin-bottom: 20px;
}

.img-home{
    margin-top: 10px;
    margin-bottom: 60px;
    text-align: center;
    width: 100vw;
}

.phrase{
    color: #B4AFAD;
    font-size: small;    
}

.social-media{
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    font-weight: bolder;
}

@media (min-width: 768px) {
    .cont-home{
        display: flex;
        align-items: center;
    }
    .img-home{
        width: 100%;       
        margin-right: 20%;        
    }    
    .cont2{
        text-align: left;        
        margin-left: 10%;
        margin-right: 5%;        
    }
    .title{
        text-align: left;
        font-size: 45px;               
    }
    .social-media{
        font-size: 25px;
        color: #424141;        
    }
}