.cont-navbar{
    width: 100%;        
}
.navb{
    display: flex;
    justify-content: space-between;
    position: relative;    
}
.bt-menu{
    background-color: white;
    color: black;
}
.fa-bars{
    font-size: 30px;
}

.menu{
    opacity: 0.9;
    display: flex;
    position: absolute;    
    right: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #5A87C2; 
    
}
.menu-hidden{
    top:-100%;
    opacity: 0.9;
    display: flex;
    position: absolute;    
    right: 0;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background-color: #5A87C2; 
}
.link{
    text-decoration: none;    
    color: white;
}


@media (min-width: 768px) {
    .container{
        display: flex;
        align-items: center;  
        justify-content: space-between;     
    }
    .logo{          
        text-transform:uppercase;
    }
    .bt-menu{
        display: none;
    }
    .cont-menu{
        display: flex;
    }
    .menu-desk{  
        display: flex;    
        justify-content: end;   
        flex-direction: row;
        background-color: white;  
    }
    .menu-hidden{
        display: none
    }
    .menu{
        display: none
    }
    .link{
        color: black;
    }
}