.text{
    padding: 10px;
}

.container{    
    margin: 20px;
    text-decoration: none;
    font-size: 15px;
}

.container ul li{
    margin: 5px;
    list-style: none;
}

@media (min-width: 768px) {
    cont-tot{
        display: flex;
        justify-content: space-between;
    }
}