.testimonials{
    text-align: center;
    padding: 5%;
}

.texts{
    margin-bottom: 18px;  
      
}

.contai-testi{    
    margin-top: 15%;
    
}

.img-testimonial{
    width: 150px;
    border-radius: 50%;
}

.name{
    margin-bottom: 40px; 
    font-weight: bold;   
}

@media (min-width: 768px) {
    .cont-tot{
        display: flex;
        justify-content: space-between;
    }
    .titleT{
        font-size: 45px;
        padding-left: 20%;
        padding-right: 20%;
        line-height: 95%;
    }
}